[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "vendor/Assimp"]
	path = vendor/Assimp
	url = git@github.com:assimp/assimp.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = git@github.com:glfw/glfw.git
[submodule "vendor/ImGui"]
	path = vendor/ImGui
	url = git@github.com:ocornut/imgui.git
	branch = docking
