[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = git@github.com:Trippasch/glfw.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = git@github.com:Trippasch/glm.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "vendor/ImGui"]
	path = vendor/ImGui
	url = git@github.com:Trippasch/imgui.git
	branch = docking
[submodule "vendor/Assimp"]
	path = vendor/Assimp
	url = git@github.com:AminAliari/assimp.git
